1. What are data structures, and why are they important?
  
    

* Data structures are ways of organizing and storing data to perform operations efficiently. They are important because they help in optimizing data storage, retrieval, and manipulation, leading to efficient algorithms.

2.Explain the difference between mutable and immutable data types with examples.


* Mutable data types can be changed after creation. Example: list, dict, set


*   Immutable data types cannot be changed after creation. Example: tuple, string, int

3.What are the main differences between lists and tuples in Python?


* List are muttable,performance of list slow and syntax is [  ]



*  Tuple are immutable,performance tuple is faster and syntax is (  )

4.Describe how dictionaries store data.


*  Dictionaries store data as key-value pairs using a hash table.

5.Why might you use a set instead of a list in Python?Why might you use a set instead of a list in Python?


*   Sets automatically remove duplicates.


*  Sets alow faster lookup.

 6.What is a string in Python, and how is it different from a list?


*   A string is a sequence of characters (immutable).


*   A list is a collection of elements (mutable)

 7.How do tuples ensure data integrity in Python?
   

*   Tuples are immutable, preventing accidental modification

8.What is a hash table, and how does it relate to dictionaries in Python?


*   A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables for fast lookups.

9.Can lists contain different data types in Python?


*   Yes, Python lists can hold multiple data types.

10.Explain why strings are immutable in Python.


* Strings are immutable to ensure security, performance, and hashability (for use as dictionary keys)

11.What advantages do dictionaries offer over lists for certain tasks?



*   Faster lookups  compared to lists .
    
  
*   Key-based access instead of index-based.

12.Describe a scenario where using a tuple would be preferable over a list.




*   Storing fixed data like database records.

* Ensuring immutability for security-sensitive data.

13.How do sets handle duplicate values in Python?


*   Sets remove duplicate values automatically
    Example

In [ ]:
set={1,2,2,3,3,4}
print(set)

{1, 2, 3, 4}

14.How does the “in” keyword work differently for lists and dictionaries?


*  Lists: Searches for the value.
   

*   Dictionaries: Searches for the key

In [ ]:
my_list=[1,2,4,5]
print(2 in my_list)

True

In [ ]:
my_dict={"a":1,"b":2}
print("a"in my_dict)

True

15.Can you modify the elements of a tuple? Explain why or why not.


*   No,Tuple are immutable

In [ ]:
T=(1,2,4,8)
T[0]=4

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of its use case?


*  A dictionary inside another dictionary.
  

*  Examaple

In [ ]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 21, "grade": "B"}
}
print(students["Alice"]["grade"])

A

17.Describe the time complexity of accessing elements in a dictionary
   

* Lookup in dictionary (dict[key]) → O(1).

18.In what situations are lists preferred over dictionaries?


*  
Sequential processing (e.g., looping through elements).

19.Why are dictionaries considered unordered, and how does that affect data retrieval?


*   Dictionaries store data in hash tables, so the order was not guaranteed before Python 3.7. From Python 3.7+, they preserve insertion order.

20.Explain the difference between a list and a dictionary in terms of data retrieval.


* List


Uses index-based retrival.You can access elemenet using their position.

List stored ordered data.


* Dictionary

  Uses key-based retrieval
  
  Dictionary stored unordered data

In [ ]:
#1.Write a code to create a string with your name and print it
name="Arti"
print(name)

Arti

In [ ]:
#2. Write a code to find the length of the string "Hello World"P
string="Hello World"
print(len(string))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
string="Python Programming"
print(string[:3])

Pyt

In [ ]:
#4.P Write a code to convert the string "hello" to uppercase
text="hello"
text.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
a.replace("apple","orange")

'I like orange'

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c']
list=['a','b','c']
list[1]

'b'

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
list=[10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple=(100,200,300)
tuple

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tupple=('red','green','blue','yellow')
tupple[-2]

'blue'

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
min(tuple)

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tupple=('dog','cat','rabbit')
tupple.index('cat')

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple=("apple","kiwi","banana")
"kiwi"in tuple

True

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
set

{'a', 'b', 'c'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
set

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(4)
set

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1|set2

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1={1,2,3}
set2={2,3,4}
set1&set2

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict={"name:Arti","age:28","city:Sambhajinagar"}
dict

{'age:28', 'city:Sambhajinagar', 'name:Arti'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={"name":"john","age":25}
dict["country"]="USA"
dict

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={"name":"Alice","age":30}
dict["name"]

'Alice'

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={"name":"Bob","age":22,"city":"new york"}
dict.pop("age")
dict

{'name': 'Bob', 'city': 'new york'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={"name":"Alice","city":"Paris"}
"city"in dict

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
List=[1,2,3,4]
List

[1, 2, 3, 4]

In [ ]:
Tuple=(1,2,3,4)
Tuple

(1, 2, 3, 4)

In [ ]:
Dict={"name":"Arti","age":28}
Dict

{'name': 'Arti', 'age': 28}

In [6]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [9, 31, 62, 77, 89]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
List=["apple","banana","guava"]
List[2]

'guava'

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30.Write a code to convert a list of strings into a set
List=["apple","banana","guava"]
List=set(List)
List

{'apple', 'banana', 'guava'}